@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    var user = UserManager.GetUserAsync(User).Result;

}

<div class="text-center">
    <h1 class="display-4">Welcome to Zusammen</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <canvas id="myCanvas" width="1000" height="400" style="border:1px solid #000000;">
        </canvas>

    }
</div>
<div>
    <!--

    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>



    -->


</div>

<script>
    var items = '@ViewBag.RValues';
    console.log(items);
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var r = 40;

    var x = r*Math.cos(Math.random() * 2 * Math.PI) + (1000/2);
    var y = r * Math.sin(Math.random() * 2 * Math.PI) + (400/2);
    drawCircle(x, y, 40);

    function drawCircle(xdist, ydist, radius) {
        ctx.beginPath();
        ctx.arc(xdist, ydist, radius, 0, 2 * Math.PI);
        ctx.stroke();
    }

</script>