@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    var user = UserManager.GetUserAsync(User).Result;

}

<div class="text-center">
    <h1 class="display-4">Welcome to Zusammen</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Welcome, @user.name</p>
        <p>@user.schoolyear</p>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <!--

    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>



    -->


</div>

