@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}
@model Zusammen.Models.ApplicationUser

<div class="text-center">
    <h1 class="display-4">@Model.name</h1>
</div>
<div>
    <p>Major: @Model.major</p>
    <p>Housing: @Model.schoolhousing</p>
    <p>Hobbies</p>
    <ul>
        @foreach (var hobbie in Model.hobbies)
        {
            <li>@hobbie</li>
        }
    </ul>

</div>