@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
@model ApplicationUser

<div class="text-center">
    <h1 class="display-4">@Model.name</h1>
</div>
<div>
    <p>Major: @Model.major</p>
    <p>Housing: @Model.schoolhousing</p>
    <p>Hobbies</p>
    <ul>
        @foreach (var hobbie in Enum.GetValues(typeof(Hobbies)))
        {
            <li>@Model.hobbies.ToString()</li>
        }
    </ul>

</div>